# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [3]:
import pandas as pd

## imports for Python, Pandas

In [6]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [4]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [7]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [8]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population info.governor    state shortname
0        Dade       12345    Rick Scott  Florida        FL
1     Broward       40000    Rick Scott  Florida        FL
2  Palm Beach       60000    Rick Scott  Florida        FL
3      Summit        1234   John Kasich     Ohio        OH
4    Cuyahoga        1337   John Kasich     Ohio        OH

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [9]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

[{u'_id': {u'$oid': u'52b213b38594d8a2be17c780'},
  u'approvalfy': 1999,
  u'board_approval_month': u'November',
  u'boardapprovaldate': u'2013-11-12T00:00:00Z',
  u'borrower': u'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
  u'closingdate': u'2018-07-07T00:00:00Z',
  u'country_namecode': u'Federal Democratic Republic of Ethiopia!$!ET',
  u'countrycode': u'ET',
  u'countryname': u'Federal Democratic Republic of Ethiopia',
  u'countryshortname': u'Ethiopia',
  u'docty': u'Project Information Document,Indigenous Peoples Plan,Project Information Document',
  u'envassesmentcategorycode': u'C',
  u'grantamt': 0,
  u'ibrdcommamt': 0,
  u'id': u'P129828',
  u'idacommamt': 130000000,
  u'impagency': u'MINISTRY OF EDUCATION',
  u'lendinginstr': u'Investment Project Financing',
  u'lendinginstrtype': u'IN',
  u'lendprojectcost': 550000000,
  u'majorsector_percent': [{u'Name': u'Education', u'Percent': 46},
   {u'Name': u'Education', u'Percent': 26},
   {u'Name': u'Public Administration, Law, and Justice', u'Percent': 16},
   {u'Name': u'Education', u'Percent': 12}],
  u'mjsector_namecode': [{u'code': u'EX', u'name': u'Education'},
   {u'code': u'EX', u'name': u'Education'},
   {u'code': u'BX', u'name': u'Public Administration, Law, and Justice'},
   {u'code': u'EX', u'name': u'Education'}],
  u'mjtheme': [u'Human development'],
  u'mjtheme_namecode': [{u'code': u'8', u'name': u'Human development'},
   {u'code': u'11', u'name': u''}],
  u'mjthemecode': u'8,11',
  u'prodline': u'PE',
  u'prodlinetext': u'IBRD/IDA',
  u'productlinetype': u'L',
  u'project_abstract': {u'cdata': u'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
  u'project_name': u'Ethiopia General Education Quality Improvement Project II',
  u'projectdocs': [{u'DocDate': u'28-AUG-2013',
    u'DocType': u'PID',
    u'DocTypeDesc': u'Project Information Document (PID),  Vol.',
    u'DocURL': u'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
    u'EntityID': u'090224b081e545fb_1_0'},
   {u'DocDate': u'01-JUL-2013',
    u'DocType': u'IP',
    u'DocTypeDesc': u'Indigenous Peoples Plan (IP),  Vol.1 of 1',
    u'DocURL': u'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
    u'EntityID': u'000442464_20130920111729'},
   {u'DocDate': u'22-NOV-2012',
    u'DocType': u'PID',
    u'DocTypeDesc': u'Project Information Document (PID),  Vol.',
    u'DocURL': u'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
    u'EntityID': u'090224b0817b19e2_1_0'}],
  u'projectfinancialtype': u'IDA',
  u'projectstatusdisplay': u'Active',
  u'regionname': u'Africa',
  u'sector': [{u'Name': u'Primary education'},
   {u'Name': u'Secondary education'},
   {u'Name': u'Public administration- Other social services'},
   {u'Name': u'Tertiary education'}],
  u'sector1': {u'Name': u'Primary education', u'Percent': 46},
  u'sector2': {u'Name': u'Secondary education', u'Percent': 26},
  u'sector3': {u'Name': u'Public administration- Other social services',
   u'Percent': 16},
  u'sector4': {u'Name': u'Tertiary education', u'Percent': 12},
  u'sector_namecode': [{u'code': u'EP', u'name': u'Primary education'},
   {u'code': u'ES', u'name': u'Secondary education'},
   {u'code': u'BS', u'name': u'Public administration- Other social services'},
   {u'code': u'ET', u'name': u'Tertiary education'}],
  u'sectorcode': u'ET,BS,ES,EP',
  u'source': u'IBRD',
  u'status': u'Active',
  u'supplementprojectflg': u'N',
  u'theme1': {u'Name': u'Education for all', u'Percent': 100},
  u'theme_namecode': [{u'code': u'65', u'name': u'Education for all'}],
  u'themecode': u'65',
  u'totalamt': 130000000,
  u'totalcommamt': 130000000,
  u'url': u'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'},
 {u'_id': {u'$oid': u'52b213b38594d8a2be17c781'},
  u'approvalfy': 2015,
  u'board_approval_month': u'November',
  u'boardapprovaldate': u'2013-11-04T00:00:00Z',
  u'borrower': u'GOVERNMENT OF TUNISIA',
  u'country_namecode': u'Republic of Tunisia!$!TN',
  u'countrycode': u'TN',
  u'countryname': u'Republic of Tunisia',
  u'countryshortname': u'Tunisia',
  u'docty': u'Project Information Document,Integrated Safeguards Data Sheet,Integrated Safeguards Data Sheet,Project Information Document,Integrated Safeguards Data Sheet,Project Information Document',
  u'envassesmentcategorycode': u'C',
  u'grantamt': 4700000,
  u'ibrdcommamt': 0,
  u'id': u'P144674',
  u'idacommamt': 0,
  u'impagency': u'MINISTRY OF FINANCE',
  u'lendinginstr': u'Specific Investment Loan',
  u'lendinginstrtype': u'IN',
  u'lendprojectcost': 5700000,
  u'majorsector_percent': [{u'Name': u'Public Administration, Law, and Justice',
    u'Percent': 70},
   {u'Name': u'Public Administration, Law, and Justice', u'Percent': 30}],
  u'mjsector_namecode': [{u'code': u'BX',
    u'name': u'Public Administration, Law, and Justice'},
   {u'code': u'BX', u'name': u'Public Administration, Law, and Justice'}],
  u'mjtheme': [u'Economic management',
   u'Social protection and risk management'],
  u'mjtheme_namecode': [{u'code': u'1', u'name': u'Economic management'},
   {u'code': u'6', u'name': u'Social protection and risk management'}],
  u'mjthemecode': u'1,6',
  u'prodline': u'RE',
  u'prodlinetext': u'Recipient Executed Activities',
  u'productlinetype': u'L',
  u'project_name': u'TN: DTF Social Protection Reforms Support',
  u'projectdocs': [{u'DocDate': u'29-MAR-2013',
    u'DocType': u'PID',
    u'DocTypeDesc': u'Project Information Document (PID),  Vol.1 of 1',
    u'DocURL': u'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131024115616',
    u'EntityID': u'000333037_20131024115616'},
   {u'DocDate': u'29-MAR-2013',
    u'DocType': u'ISDS',
    u'DocTypeDesc': u'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    u'DocURL': u'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20131024151611',
    u'EntityID': u'000356161_20131024151611'},
   {u'DocDate': u'29-MAR-2013',
    u'DocType': u'ISDS',
    u'DocTypeDesc': u'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    u'DocURL': u'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20131031112136',
    u'EntityID': u'000442464_20131031112136'},
   {u'DocDate': u'29-MAR-2013',
    u'DocType': u'PID',
    u'DocTypeDesc': u'Project Information Document (PID),  Vol.1 of 1',
    u'DocURL': u'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131031105716',
    u'EntityID': u'000333037_20131031105716'},
   {u'DocDate': u'16-JAN-2013',
    u'DocType': u'ISDS',
    u'DocTypeDesc': u'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    u'DocURL': u'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113209',
    u'EntityID': u'000356161_20130305113209'},
   {u'DocDate': u'16-JAN-2013',
    u'DocType': u'PID',
    u'DocTypeDesc': u'Project Information Document (PID),  Vol.1 of 1',
    u'DocURL': u'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113716',
    u'EntityID': u'000356161_20130305113716'}],
  u'projectfinancialtype': u'OTHER',
  u'projectstatusdisplay': u'Active',
  u'regionname': u'Middle East and North Africa',
  u'sector': [{u'Name': u'Public administration- Other social services'},
   {u'Name': u'General public administration sector'}],
  u'sector1': {u'Name': u'Public administration- Other social services',
   u'Percent': 70},
  u'sector2': {u'Name': u'General public administration sector',
   u'Percent': 30},
  u'sector_namecode': [{u'code': u'BS',
    u'name': u'Public administration- Other social services'},
   {u'code': u'BZ', u'name': u'General public administration sector'}],
  u'sectorcode': u'BZ,BS',
  u'source': u'IBRD',
  u'status': u'Active',
  u'supplementprojectflg': u'N',
  u'theme1': {u'Name': u'Other economic management', u'Percent': 30},
  u'theme_namecode': [{u'code': u'24', u'name': u'Other economic management'},
   {u'code': u'54', u'name': u'Social safety nets'}],
  u'themecode': u'54,24',
  u'totalamt': 0,
  u'totalcommamt': 4700000,
  u'url': u'http://www.worldbank.org/projects/P144674?lang=en'}]

In [10]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{u'$oid': u'52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{u'Percent': 100, u'Name': u'Education for all'}","[{u'code': u'65', u'name': u'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{u'$oid': u'52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Other economic man...","[{u'code': u'24', u'name': u'Other economic ma...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [1]:
# import packages
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize
from pandas.io.json import to_json

In [2]:
# Load data as pandas dataframe
df = pd.read_json('data/world_bank_projects.json')

In [3]:
df.shape

(500, 50)

In [4]:
# inspect dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
_id                         500 non-null object
approvalfy                  500 non-null int64
board_approval_month        500 non-null object
boardapprovaldate           500 non-null object
borrower                    485 non-null object
closingdate                 370 non-null object
country_namecode            500 non-null object
countrycode                 500 non-null object
countryname                 500 non-null object
countryshortname            500 non-null object
docty                       446 non-null object
envassesmentcategorycode    430 non-null object
grantamt                    500 non-null int64
ibrdcommamt                 500 non-null int64
id                          500 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
lendinginstr                495 non-null object
lendinginstrtype            495 non-null object
lendprojectcost             500 non-null int64
majorsector_percent         500 non-null object
mjsector_namecode           500 non-null object
mjtheme                     491 non-null object
mjtheme_namecode            500 non-null object
mjthemecode                 500 non-null object
prodline                    500 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
project_abstract            362 non-null object
project_name                500 non-null object
projectdocs                 446 non-null object
projectfinancialtype        500 non-null object
projectstatusdisplay        500 non-null object
regionname                  500 non-null object
sector                      500 non-null object
sector1                     500 non-null object
sector2                     380 non-null object
sector3                     265 non-null object
sector4                     174 non-null object
sector_namecode             500 non-null object
sectorcode                  500 non-null object
source                      500 non-null object
status                      500 non-null object
supplementprojectflg        498 non-null object
theme1                      500 non-null object
theme_namecode              491 non-null object
themecode                   491 non-null object
totalamt                    500 non-null int64
totalcommamt                500 non-null int64
url                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 195.4+ KB

In [5]:
# It can be seen that the dataframe consists of 500 rows and 50 columns. 
# Now we need to refine our observations to reflect the request.

In [6]:
my_list = df['countryshortname'].tolist()
print (my_list)

['Ethiopia', 'Tunisia', 'Tuvalu', 'Yemen, Republic of', 'Lesotho', 'Kenya', 'India', 'China', 'India', 'Morocco', 'South Sudan', 'India', 'Ghana', 'Timor-Leste', 'Jordan', 'Samoa', 'Samoa', 'Madagascar', 'Cambodia', 'Morocco', 'Kyrgyz Republic', 'Nepal', 'Jordan', 'Tajikistan', 'Azerbaijan', 'East Asia and Pacific', "Lao People's Democratic Republic", 'Pacific Islands', 'Solomon Islands', 'Mozambique', 'Angola', 'Tanzania', 'Nigeria', 'Seychelles', 'Bangladesh', 'Senegal', 'Myanmar', 'West Bank and Gaza', 'Argentina', 'Gambia, The', 'Russian Federation', 'Congo, Republic of', 'Russian Federation', 'Sao Tome and Principe', 'Solomon Islands', 'Africa', 'Africa', 'Ukraine', 'Comoros', 'Colombia', 'Yemen, Republic of', 'Africa', 'Pacific Islands', "Cote d'Ivoire", 'Sierra Leone', 'World', 'Pacific Islands', 'India', 'Africa', 'Solomon Islands', 'Peru', "Cote d'Ivoire", 'Ecuador', 'Honduras', 'Afghanistan', 'Africa', 'Morocco', 'Mauritania', 'Lebanon', 'West Bank and Gaza', 'Tajikistan', 'Burkina Faso', 'Argentina', 'Marshall Islands', 'Mozambique', 'Kyrgyz Republic', 'Yemen, Republic of', 'Ecuador', 'Liberia', 'Kenya', 'Kyrgyz Republic', 'Tunisia', 'Jordan', 'Mozambique', 'Mozambique', 'Tajikistan', 'Samoa', 'Morocco', 'Tajikistan', 'Zimbabwe', 'Mali', 'Morocco', 'Indonesia', 'Afghanistan', 'Armenia', 'Guinea', 'Nigeria', 'Nigeria', 'South Asia', 'Africa', 'Kazakhstan', 'Egypt, Arab Republic of', 'Nepal', 'Croatia', 'Georgia', 'Azerbaijan', 'Azerbaijan', 'Liberia', 'Bangladesh', 'Turkey', 'Bangladesh', 'Brazil', 'Brazil', 'Cape Verde', 'Nepal', 'Benin', 'Bangladesh', 'Chad', 'South Sudan', 'China', 'China', 'China', 'India', 'Honduras', 'Honduras', 'Kenya', 'Mali', 'Haiti', 'Mauritania', 'Poland', "Cote d'Ivoire", 'Middle East and North Africa', 'Brazil', 'Brazil', 'Brazil', 'Albania', 'Afghanistan', 'Senegal', 'Indonesia', 'Vanuatu', 'Congo, Democratic Republic of', 'Congo, Democratic Republic of', 'Cameroon', 'Yemen, Republic of', 'Yemen, Republic of', 'Chile', 'Ghana', 'Turkey', 'Ghana', 'Belarus', 'Pakistan', 'Antigua and Barbuda', 'Djibouti', 'Djibouti', 'Nepal', 'Mongolia', 'China', 'Togo', 'Lesotho', 'Sao Tome and Principe', 'Vietnam', 'Vietnam', 'China', 'Pakistan', 'China', "Lao People's Democratic Republic", 'Niger', 'Africa', 'Liberia', 'Zambia', 'Liberia', 'Morocco', 'Sudan', 'Malawi', "Lao People's Democratic Republic", 'Niger', 'Indonesia', 'West Bank and Gaza', 'West Bank and Gaza', 'Middle East and North Africa', 'Burkina Faso', 'Armenia', 'Kazakhstan', 'Uganda', 'Africa', 'Haiti', 'Haiti', 'Brazil', 'Togo', 'Lebanon', 'Yemen, Republic of', 'Burkina Faso', 'Nepal', 'Bhutan', 'Nepal', 'India', 'India', 'Moldova', 'Rwanda', 'Vietnam', 'China', 'Kosovo', 'Indonesia', 'Congo, Democratic Republic of', 'Zambia', 'Congo, Democratic Republic of', 'Georgia', 'Uganda', 'Bangladesh', 'Macedonia, former Yugoslav Republic of', 'Indonesia', 'Kyrgyz Republic', 'Indonesia', 'Congo, Democratic Republic of', 'India', 'Niger', 'Burundi', 'Mali', 'Maldives', 'Niger', "Lao People's Democratic Republic", 'Vietnam', 'Croatia', 'Jordan', 'Serbia', 'Romania', 'China', 'Uzbekistan', 'Zambia', 'Mozambique', 'Mozambique', 'Mozambique', 'Indonesia', 'Nicaragua', 'Armenia', "Lao People's Democratic Republic", 'Kyrgyz Republic', 'Burundi', 'World', 'Yemen, Republic of', 'Lesotho', 'Papua New Guinea', "Cote d'Ivoire", 'Benin', 'Peru', 'Djibouti', 'Yemen, Republic of', 'Indonesia', 'Tajikistan', 'Vietnam', 'China', 'Sudan', 'Uganda', 'South Sudan', 'Mozambique', 'Mozambique', 'Mali', 'Comoros', 'Sri Lanka', 'Turkey', 'Morocco', 'Mauritius', 'Armenia', 'Turkey', 'Mauritius', 'Tanzania', 'Nicaragua', 'Nigeria', 'Tanzania', 'Nigeria', 'Panama', 'Tanzania', 'Cameroon', 'Niger', 'Burkina Faso', 'China', 'China', 'China', 'China', 'China', 'China', 'Vanuatu', 'Vietnam', 'Philippines', 'Marshall Islands', 'Afghanistan', 'Moldova', 'Africa', 'Pakistan', 'Benin', 'Rwanda', 'Benin', 'Kiribati', 'Morocco', 'Morocco', 'Sudan', 'Kyrgyz Republic', 'Uzbekistan', 'Jordan', 'Indonesia', 'Indonesia', 'Yemen, Republic of', 'Vietnam', 'Vietnam', 'Ethiopia', 'China', 'Afghanistan', 'Thailand', 'Vietnam', 'Nicaragua', 'Burkina Faso', 'Papua New Guinea', 'Papua New Guinea', 'Rwanda', 'Yemen, Republic of', 'Nepal', 'Morocco', 'Yemen, Republic of', 'Yemen, Republic of', 'Cambodia', 'Nepal', 'Bangladesh', 'Middle East and North Africa', 'Kazakhstan', 'Timor-Leste', 'Croatia', 'Bhutan', 'Samoa', 'Russian Federation', 'Sierra Leone', 'Armenia', 'Burkina Faso', 'Armenia', 'Vietnam', 'Uzbekistan', 'Mozambique', 'Moldova', 'Mozambique', 'Moldova', 'Tunisia', 'Myanmar', 'Nigeria', 'Peru', 'China', 'Nicaragua', 'Vietnam', 'Tanzania', 'Armenia', 'Albania', 'Europe and Central Asia', 'Vietnam', 'Togo', 'Macedonia, former Yugoslav Republic of', 'Africa', 'Bangladesh', 'Papua New Guinea', 'Maldives', 'Azerbaijan', 'Senegal', 'Namibia', 'Burkina Faso', 'Burkina Faso', 'Kyrgyz Republic', 'Ukraine', 'Indonesia', 'Congo, Democratic Republic of', 'Central African Republic', 'Afghanistan', 'Egypt, Arab Republic of', 'Uzbekistan', 'Honduras', 'Malawi', 'Colombia', 'Peru', 'Peru', 'Honduras', 'Philippines', 'Indonesia', 'Gambia, The', 'Vanuatu', 'Peru', "Lao People's Democratic Republic", 'Pakistan', 'Albania', 'Comoros', 'Macedonia, former Yugoslav Republic of', 'Madagascar', 'Madagascar', 'Tajikistan', 'West Bank and Gaza', 'Jordan', 'Tunisia', 'Sudan', 'China', 'India', 'Indonesia', 'Indonesia', 'Indonesia', 'Indonesia', 'Mexico', 'Pakistan', 'Pacific Islands', 'Kenya', 'Kenya', 'Nepal', 'Tonga', 'Vietnam', 'Uruguay', 'Nicaragua', 'Colombia', 'Uruguay', 'Nicaragua', 'Jamaica', 'Vietnam', 'Ukraine', 'Brazil', 'Brazil', 'Georgia', 'Yemen, Republic of', 'Maldives', 'Jordan', 'South Asia', 'Moldova', 'Vietnam', 'Myanmar', 'Tajikistan', 'Lebanon', 'Morocco', 'Tajikistan', 'Vietnam', 'Bosnia and Herzegovina', 'India', 'Tanzania', 'Burundi', 'Bolivia', 'Bolivia', 'Burundi', 'Tanzania', 'Tanzania', 'Senegal', 'Nepal', 'Burkina Faso', 'Ghana', 'Kosovo', 'Morocco', 'Indonesia', 'Uganda', 'Bhutan', 'Bhutan', 'Africa', 'Bangladesh', 'Pakistan', 'India', 'Costa Rica', 'Uruguay', 'Haiti', 'India', 'Haiti', 'India', 'Guatemala', 'Nigeria', 'Ethiopia', 'Guinea', 'Ethiopia', 'Bangladesh', 'Bangladesh', 'Russian Federation', 'Seychelles', 'Ukraine', 'Croatia', 'Liberia', 'Bangladesh', 'Armenia', 'Albania', 'Pakistan', 'Indonesia', 'Vietnam', 'Uzbekistan', 'Pakistan', 'Guatemala', 'Zambia', 'India', 'India', 'India', 'Philippines', 'Mongolia', 'Middle East and North Africa', 'Mexico', 'Brazil', 'Papua New Guinea', 'Nepal', 'West Bank and Gaza', 'Pakistan', 'Bangladesh', 'Nepal', 'Jamaica', "Lao People's Democratic Republic", 'Guinea', 'Indonesia', 'Kenya']

In [7]:
top_countries = df.countryshortname.value_counts().head(10)
print(top_countries)

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Bangladesh            12
Morocco               12
Mozambique            11
Africa                11
Name: countryshortname, dtype: int64

In [8]:
# Extract a list of the contents of 'countryshortname' to visually identify any other discrepancies. 
# *Extra step unless data was properly cleaned for discrepancies.

In [9]:
# Create a library of continents for exclusion from results
continents = ['Africa', 'Antarctica', 'Asia', 'Australia', 'Europe', 'North America', 'South America']

In [10]:
# re-do top_countires to filter out continents from results
top_countries = df.countryshortname[np.logical_not(df.countryshortname.isin(continents))].value_counts().head(10)

In [11]:
print(top_countries)

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Morocco               12
Bangladesh            12
Mozambique            11
Brazil                 9
Name: countryshortname, dtype: int64

In [12]:
# Finally!!! An accurate and precise list of countries with most projects without continents

In [25]:
# project themes needs to be extracted separately from 
# original json otherwise it will not load properly as information is not open

data = json.load((open('data/world_bank_projects.json')))
project_themes = json_normalize(data, 'mjtheme_namecode')
project_themes.name[project_themes.name != ""].value_counts().head(10)

# data is extracted and put into new dataframe
# no-name theme of empty string is used to filter out empty themes 
# for top 10 list

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Name: name, dtype: int64

In [20]:
# separate and sort dataframe 

sorted_themes = project_themes.sort_values(['code', 'name'])
sorted_themes.head(20)

     code                 name
212     1
363     1
1024    1
1114    1
1437    1
2       1  Economic management
88      1  Economic management
175     1  Economic management
204     1  Economic management
205     1  Economic management
220     1  Economic management
222     1  Economic management
223     1  Economic management
249     1  Economic management
357     1  Economic management
453     1  Economic management
454     1  Economic management
458     1  Economic management
497     1  Economic management
647     1  Economic management

In [21]:
# replace empty fields with NaN
sorted_themes.name[sorted_themes.name == ''] = np.nan
sorted_themes.head(20)

     code                 name
212     1                  NaN
363     1                  NaN
1024    1                  NaN
1114    1                  NaN
1437    1                  NaN
2       1  Economic management
88      1  Economic management
175     1  Economic management
204     1  Economic management
205     1  Economic management
220     1  Economic management
222     1  Economic management
223     1  Economic management
249     1  Economic management
357     1  Economic management
453     1  Economic management
454     1  Economic management
458     1  Economic management
497     1  Economic management
647     1  Economic management

In [22]:
# backfill NaN values and sort to origianl order
fixed_themes = sorted_themes.fillna(method = 'bfill')
fixed_themes.sort_index().head(20)

   code                                          name
0     8                             Human development
1    11  Environment and natural resources management
2     1                           Economic management
3     6         Social protection and risk management
4     5                         Trade and integration
5     2                      Public sector governance
6    11  Environment and natural resources management
7     6         Social protection and risk management
8     7                   Social dev/gender/inclusion
9     7                   Social dev/gender/inclusion
10    5                         Trade and integration
11    4      Financial and private sector development
12    6         Social protection and risk management
13    6         Social protection and risk management
14    2                      Public sector governance
15    4      Financial and private sector development
16   11  Environment and natural resources management
17    8                             Human development
18   10                             Rural development
19    7                   Social dev/gender/inclusion